<div class='nested-fields'>

  <div class='field row ml-1'>
    <div class='field m-1 col-md-3'>
      <%= f.collection_select :product_id, @products_selection, :id, :name, {include_blank: true},class: "form-control" %>
    </div>
    <div class='field m-1 col-md-3'>
      <%= f.text_field :product_total_quantity, class: "form-control" %>
    </div>

    <div class='field col-md-3 align-self-center'>
      <%= link_to_remove_association('remove',f, class: 'text-light')%>
    </div>
  </div>
  </div>

</div>
