.nav-link {
  font-size: 18px;
  color: $secondary;
  &:hover {
    color: darkgray;
  };
};
#nav {
  min-width: 190px;
};
.logo {
  max-height: 110px;
};
.active {
  background-color: $secondary;
  border-radius: 12px 0px 0px 12px;
  .nav-link{
    color: $primary;
  };
};
