<nav id='nav_bar' class="navbar navbar-dark bg-primary">
  <%= link_to 'Releazar', clients_path, class: 'navbar-brand p-0 logo',
    id: 'nav-link-home', data: { turbolinks: false } %>
  <form class='form-inline'>
    <input class="form-control d-none d-lg-block"
      type="text" placeholder="Buscar" aria-label="Search">
  </form>

  <div class='nav-section d-lg-none d-xl-none'>
    <div class='nav-toggle'>
      <div class='rectangle-a'></div>
      <div class='rectangle-b'></div>
      <div class='rectangle-c'></div>
    </div>
    <div class='nav-links'>
      <%= render 'layouts/links' %>
    </div>
  </div>
</nav>

<script type='text/javascript'>
$(document).ready(function() {

  let show = true;

  $('.nav-toggle').on('click', function() {
    $('body').toggleClass('hidden', show);
    $('.nav-section').toggleClass('on', show);

    show = !show;
  });
})
</script>
