<nav id='sidebar' class="col-2 d-none d-lg-block sidebar pr-0">
  <div class="sidebar-sticky h-100">
    <ul id='nav' class="nav flex-column h-100">
        <%= render 'layouts/links' %>
    </ul>
  </div>
</nav>
